* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: red; */
    height: auto;
    width: 100%;
}

/* header */

.icono-menu {
    width: 60px;
    height: 60px;
}

.container-header {
    background-color: #A8DF8E;
    width: 100%;
    height: 75px;
    display: flex;
    position: fixed;
    z-index: 3;
    top: 0;
}

.icono-navContainer {
    display: none;
    cursor: pointer;
}

.nombreEmpresa {
    width: 25%;
    height: 75px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-container {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-container {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.opcionNav {
    text-decoration: none;
    font-family: 'Tilt Neon', sans-serif;
    color: black;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .nav-container {
        display: none;
    }

    .icono-navContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

    }

    .nombreEmpresa {
        width: 50%;
        height: 75px;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}


/* Main */
.main-containerPrincipal {
    width: 100%;
    margin-top: 75px;
}

/* Home */
.home-container {
    width: 100%;
    height: 92.2vh;
    background-color: #A8DF8E;
    position: relative;
}

/* IMAGENES DE HOME */
.imgfondoplatano {
    transform: rotate(20deg);
    top: 15vh;
    left: 61vw;
    position: absolute;
}

.imgfondoman {
    transform: rotate(20deg);
    top: 13vh;
    left: 12vw;
    position: absolute;
}

.imgfondo {
    position: absolute;
    width: 125px;
    /* height:125px; */
}

.imgfondofrutilla {
    transform: rotate(54deg);
    top: 4vh;
    right: 13vw;
}


.imgfondosandiapartida {
    transform: rotate(54deg);
    top: 1vh;
    right: 56vw;
}

.imgfondodragon {
    transform: rotate(10deg);
    top: 55vh;
    left: 30vw;
}

.imgfondopera {
    transform: rotate(-11deg);
    top: 19vh;
    left: 27vw;
}

.imgfondonaranja {
    transform: rotate(1deg);
    top: 0vh;
    left: 0vw;
}

.imgfondonaranja2 {
    transform: rotate(180deg);
    top: 13vh;
    right: 0vw;
}

.imgfondocoquito {
    transform: rotate(80deg);
    top: 57vh;
    left: 18vw;

}

.imgfondohojita {
    transform: rotate(-2deg);
    top: 68vh;
    left: -1vw;

}

.imgfondosandia {
    transform: rotate(5deg);
    top: 61vh;
    left: 52vw;
}

.imgfondohojita2 {
    transform: rotate(-93deg);
    top: 70vh;
    left: 87vw;
}

.imgfondomango {
    transform: rotate(3deg);
    top: 59vh;
    left: 72vw;
}



/* IMAGENES PROMOCIONES */

.imgfondonaranja3 {
    transform: rotate(1deg);
    top: 32vh;
    left: 24vw;
}

.imgfondosandiapartida3 {
    transform: rotate(1deg);
    top: 89vh;
    left: 2vw;
}

.imgfondopi単a3 {
    transform: rotate(43deg);
    top: 62vh;
    left: 78vw;
}

.imgfondoajo3 {
    transform: rotate(1deg);
    top: 103vh;
    left: 75vw;

}

.imgfondopi単a {
    transform: rotate(75deg);
    top: 68vh;
    right: 4vw;
}

.imgfondohojita {
    transform: rotate(20deg);
    top: 60vh;
    left: 0vw;
}

.imgfondosandia {
    transform: rotate(5deg);
    top: 71vh;
    left: 54vw;
}

.imgfondosandiapartida {
    transform: rotate(90deg);
    top: 7vh;
    right: 3vw;
}

.imgfondoajo {
    transform: rotate(50deg);
    top: 0vh;
    left: 18vw;
}

.imgfondocoquito {
    transform: rotate(80deg);
    top: 68vh;
    left: 20vw;
}

.imgfondomango {
    transform: rotate(2deg);
    top: 71vh;
    left: 72vw;
}

.imgfondonaranja2 {
    transform: rotate(180deg);
    top: 30vh;
    right: 0vw;
}

.imgfondohojita2 {
    transform: rotate(80deg);
    top: 51vh;
    left: 62vw;
}

.container-logoMensaje {
    width: 100%;
    height: 9vh;
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;

}

.logoEmpresa {
    display: flex;
    width: 200px;
    height: 120px;
    align-items: center;
    flex-direction: row;

}

.containerLogo {
    width: 30%;
    display: flex;
    justify-content: center;
}

.mensajeHome {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Bodoni Moda', serif;
    font-size: 32px;
}

.fraseHome {
    display: flex;
    width: 100%;
    /* background-color: blue; */
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    height: 9vh;
    justify-content: center;
    align-items: center;

}

.container-boton {
    display: flex;
    width: 100%;
    height: 9vh;
    /* background-color: pink; */
    align-items: center;
    justify-content: center;
}

.botonPedir {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    box-shadow: rgba(238, 108, 108, 0.836) 0 0 8px;
    /* letter-spacing: 1.5px; */
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    background-color: #952323;
    color: white
}

.letraordenaBoton {

    text-decoration: none;
    color: white;
    font-size: 15px;

}

.letraordenaBoton:hover {

    text-decoration: none;
    color: black;
    font-size: 15px;

}

.botonPedir:hover {
    letter-spacing: 3px;
    /* background-color: hsl(61, 85%, 49%); */
    background-color: white;
    color: black;
    /* box-shadow: rgb(185, 204, 11) 0px 7px 29px 0px; */
    box-shadow: red 0px 7px 29px 0px;
}

.botonPedir:active {
    letter-spacing: 3px;
    background-color: hsl(260, 17%, 93%);
    color: hsl(0, 2%, 8%);
    box-shadow: rgb(227, 224, 231) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.botonPedir:hover .letraordenaBoton {
    text-decoration: none;
    color: black;
}

.img-frappescontainer {
    display: flex;
    height: 51.2vh;
    width: 100%;
    /* background-color:#A8DF8E; */
    align-items: center;
    justify-content: space-around;
}

.iconohomefrappes {
    display: flex;
    height: 43vh;
    width: 11vw;
    color: #A8DF8E;
    align-items: center;
    justify-content: center;
}

.iconohomeCentrofrappes {
    display: flex;
    height: 48vh;
    width: 13vw;
    color: #A8DF8E;
    align-items: center;
    justify-content: center;
}

/* MenuFrutas */

.mensajeFrutas {
    display: flex;
    text-align: center;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}


.menu {
    /* display: flex; */
    width: 100%;
    height: 92.2vh;
    /* background: #e1eec3; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to bottom, #e1eec3, #f05053); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to bottom, #e1eec3, #f05053); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    background: #D21200;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #A8DF8E, #D21200);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #A8DF8E, #D21200);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.containerMenuFrutas {

    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.contenedor-productos {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    margin: 9px 45px;
}

.menuImgTarjeta {
    background-color: transparent;
    width: 90%;
    /* height: 1px; */
    perspective: 1000px;
}

.nombreProducto {

    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.precioProducto {
    font-size: 2.2em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.contenedor-productos:hover .innerCard {
    transform: rotateY(180deg);
}


.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.frontSide,
.frontSide::before {
    background: linear-gradient(43deg, rgb(6 6 6) 0%, rgb(4 4 4) 46%, #2f302b 100%);
}

.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #a1e581 0%, #80D0C7 100%);
}

.backSide {
    transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.promociones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 1000px;
    background: #D21200;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #A8DF8E, #D21200);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #A8DF8E, #D21200);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.containerPrincipalPromo {
    background-color: #392E2D;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.mensajePromociones {
    width: 100%;
    text-align: center;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 240%;
    color: white;

}

.conteinerPromo {
    height: 80%;
    width: 100%;
    display: flex;
}

.promoMensaje {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.tituloPromo {
    width: 100%;
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    color: white;
}

.infoPromo {
    width: 100%;
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    color: white;
}

.containerImgPromo {
    width: 50%;
    height: 100%;
    background-color: 392E2D;
}

.FrutaMixPromo {
    width: 100%;

}

.contenido-img {
    /* text-align: center; */
    position: relative;
    transition: all 2.25s;
    background-color: #392E2D;
    /* padding: 5em; */
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 5; */
}

.containerImgPromo:hover .contenido-img {
    transform: rotateY(0.5turn);
}

.frente,
.atras {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* padding: 2em; */
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.atras {
    transform: rotateY(0.5turn);
    background-color: ssred;
}







@media(max-width:450px) {
    .nav-container {
        display: none;
    }

    .icono-navContainer {
        display: flex;
        /* justify-content: flex-end; */
        align-items: center;
        width: 44%;
    }

    .container-header {
        background-color: #A8DF8E;
        width: 100%;
        height: 75px;
        display: flex;
        position: fixed;
        top: 0;
        justify-content: center;
    }

    .nombreEmpresa {
        width: 43%;
        height: 75px;
        font-size: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .containerLogo {
        width: 15px;
        height: 77px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logoEmpresa {
        width: 352px;
        height: 134px;
        padding-top: 32px;
    }


    .imgfondo {
        position: absolute;
        width: 80px;
    }

    .container-logoMensaje {
        width: 100%;
        height: 26vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mensajeHome {
        width: 99%;
        height: 100%;
        display: flex;
        align-items: center;
        font-family: "Bodoni Moda", serif;
        font-size: 167%;
        z-index: 1;
        text-align: center;
        padding-top: 18px;
    }

    .fraseHome {
        display: flex;
        width: 100%;
        /* background-color: blue; */
        text-align: center;
        font-family: Poppins;
        font-size: 22px;
        height: 4vh;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        position: inherit;
    }

    .botonPedir {
        padding: 11px 23px;
        border-radius: 50px;
        border: 0;
        box-shadow: rgba(238, 108, 108, 0.836) 0 0 8px;
        /* letter-spacing: 1.5px; */
        text-transform: uppercase;
        font-size: 9px;
        transition: all .5s ease;
        background-color: #952323;
        color: white;
    }

    .letraordenaBoton {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }

    .img-frappescontainer {
        display: flex;
        height: 41.2vh;
        width: 100%;
        /* background-color: #A8DF8E; */
        align-items: center;
        justify-content: space-around;
    }

    .iconohomefrappes {
        display: flex;
        height: 34vh;
        width: 24vw;
        color: #A8DF8E;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .iconohomeCentrofrappes {
        height: 41vh;
        width: 31vw;
        color: #A8DF8E;
        z-index: 1;
    }

    .menu {
        height: auto;
    }

    .containerPrincipalPromo {
        background-color: #392E2D;
        width: 86%;
        height: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .conteinerPromo {
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .promoMensaje {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40%;
        justify-content: center;
        align-items: center;
    }

    .containerImgPromo {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenido-img {
        /* text-align: center; */
        position: relative;
        transition: all 2.25s;
        background-color: #392E2D;
        /* padding: 5em; */
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
    }

    .mensajePromociones {
        width: 100%;
        text-align: center;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 240%;
        color: white;
    }

    .infoPromo {
        width: 95%;
        text-align: center;
        height: 29%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 20px;
        color: white;
    }


    .containerImgPromo:hover .contenido-img {
        transform: rotateY(0.5turn);
    }

    .imgfondopi単a3 {
        transform: rotate(75deg);
        top: 41vh;
        right: 10px;
    }

    .imgfondonaranja3 {
        transform: rotate(0deg);
        top: 35vh;
        left: 7vw;
    }

    .imgfondosandiapartida3 {
        transform: rotate(52deg);
        top: 58vh;
        right: 69vw;
    }


    .imgfondoajo3 {
        transform: rotate(1deg);
        top: 60vh;
        left: 70vw;
    }

    .frente,
    .atras {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        /* padding: 2em; */
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }

    .atras {
        transform: rotateY(0.5turn);
        background-color: ssred;
    }


    .imgfondo {
        position: absolute;
        width: 71px;
        height: 78px;
    }

    .imgfondoman {
        transform: rotate(20deg);
        top: 19vh;
        left: 6vw;
        position: absolute;
    }


    .imgfondoplatano {
        transform: rotate(20deg);
        top: 19vh;
        left: 71vw;
        position: absolute;
    }

    .imgfondofrutilla {
        transform: rotate(5deg);
        top: 2vh;
        left: 69vw;
    }

    imgfondodragon {
        transform: rotate(10deg);
        top: 32vh;
        left: 0vw;
    }

    .imgfondopera {
        transform: rotate(-11deg);
        top: 4vh;
        left: 13vw;
    }

    .imgfondonaranja {
        transform: rotate(1deg);
        top: -2vh;
        left: 0vw;
    }

    .imgfondopi単a {
        transform: rotate(75deg);
        top: 39vh;
        right: 59vw;
    }

    .imgfondohojita {
        transform: rotate(-91deg);
        top: 64vh;
        left: 1vw;
    }

    imgfondohojita2 {
        transform: rotate(-88deg);
        top: 51vh;
        left: 65vw;
    }

    .imgfondosandia {
        transform: rotate(5deg);
        top: 66vh;
        left: 59vw;
    }

    .imgfondosandiapartida {
        transform: rotate(54deg);
        top: -4vh;
        right: 59vw;
    }

    .imgfondoajo {
        transform: rotate(50deg);
        top: 27vh;
        left: 20vw;
    }

    .imgfondocoquito {
        transform: rotate(80deg);
        top: 64vh;
        left: 14vw;
    }

    .imgfondomango {
        transform: rotate(3deg);
        top: 52vh;
        left: 62vw;
    }

    .imgfondonaranja2 {
        transform: rotate(180deg);
        top: 32vh;
        right: 5vw;
    }

}